# Diretórios de build e pacotes
target/
dbt_packages/

# Logs e arquivos temporários
/logs/
*.log
*.tmp

# Cache e arquivos desnecessários
airflow/dags/__pycache__/
.DS_Store
Thumbs.db

# Configurações de IDEs
.vscode/
.idea/

# Arquivos de edição temporários
*.swp

# Arquivos de ambiente sensíveis
.env

.vscode